@font-face {
  src: url("../fonts/Abel-Regular.ttf");
  font-family: "Abel-Regular";
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Abel-Regular";
}

/*################*/
nav {
  align-items: center;
  display: inline;
  flex: 0 0 auto;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul li {
  display: inline;
  text-transform: none;
}

.navigation-links-nav {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}
@media only screen and (max-width: 767px) {
  .navigation-links-nav {
    display: none;
  }
}

.navigation-links-text {
  color: #ebe9e8;
  cursor: pointer;
  font-weight: 600;
  margin-left: 32px;
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.home-header {
  align-items: center;
  display: flex;
  height: 10dvh;
  justify-content: space-between;
  padding-bottom: 8px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  position: fixed;
  transition: backdrop-filter 0.9s ease;
  width: 100%;
  z-index: 10;
}

.home-icon-group {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 100%;
}

.home-image {
  cursor: pointer;
  margin-right: 20px;
  object-fit: cover;
  width: 16px;
}

.home-logo {
  align-self: flex-start;
  cursor: pointer;
  height: 96px;
  height: 6rem;
  object-fit: cover;
}

.home-nav1 {
  display: flex;
  margin-right: 25px;
}

.home-burger-menu {
  display: none;
}

.home-hero {
  align-items: center;
  background-image: url("../homework-fe-4/img/big(1).jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 80vh;
  padding: 48px;
  width: 100%;
  z-index: 2;
}

.home-icon {
  display: none;
  height: 16px;
  width: 16px;
}

.home-hero:before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.home-text {
  color: #ebe9e8;
  font-size: 3rem;
  margin-bottom: 32px;
  margin-top: 32px;
  text-align: center;
  z-index: 1;
}

.home-button {
  background-color: #1a1101;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  color: #ebe9e8;
  cursor: pointer;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  transition: 0.3s;
  z-index: 1;
}
.home-button:hover {
  box-shadow: 10px 4px 4px rgb(234, 110, 2);
  transform: scale(1.02);
}
.home-button:active {
  box-shadow: none;
}

@media only screen and (max-width: 991px) {
  .home-hero {
    background-size: cover;
    width: 100%;
  }
  .home-icon {
    display: flex;
  }
}
@media only screen and (max-width: 767px) {
  .home-burger-menu {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }
  .home-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-icon {
    height: 48px;
    width: 48px;
  }
  .home-nav1 {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  .home-header {
    padding: 16px;
    padding-right: 16px;
  }
  .home-icon-group {
    display: none;
  }
  .home-hero {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
  h2 {
    font-size: 16px;
  }
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
}

.home-container1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 93px;
}

h2 {
  max-width: 550px;
  text-align: center;
}

.line {
  border-left: 3px dashed black;
  height: 100px;
  margin: 10px 0;
}

/*###############*/
.tile-layout {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 300px;
  grid-template-rows: repeat(2, 300px);
  margin: 0 auto;
  margin-top: 2rem;
  width: 90vw;
}
@media only screen and (min-width: 768px) {
  .tile-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .tile-layout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-auto-rows: 250px;
    grid-template-areas: "a b f" "a c f" "h h g" "i e d";
  }
  .tile-layout .div-0 {
    grid-area: a;
  }
  .tile-layout .div-1 {
    grid-area: b;
  }
  .tile-layout .div-2 {
    grid-area: c;
  }
  .tile-layout .div-3 {
    grid-area: d;
  }
  .tile-layout .div-4 {
    grid-area: e;
  }
  .tile-layout .div-5 {
    grid-area: f;
  }
  .tile-layout .div-6 {
    grid-area: g;
  }
  .tile-layout .div-7 {
    grid-area: h;
  }
  .tile-layout .div-8 {
    grid-area: i;
  }
}
@media only screen and (min-width: 1100px) {
  .tile-layout {
    grid-template-areas: "a b f" "a c f" "h h g" "i e d";
  }
  .tile-layout .div-0 {
    grid-area: a;
  }
  .tile-layout .div-1 {
    grid-area: b;
  }
  .tile-layout .div-2 {
    grid-area: c;
  }
  .tile-layout .div-3 {
    grid-area: d;
  }
  .tile-layout .div-4 {
    grid-area: e;
  }
  .tile-layout .div-5 {
    grid-area: f;
  }
  .tile-layout .div-6 {
    grid-area: g;
  }
  .tile-layout .div-7 {
    grid-area: h;
  }
  .tile-layout .div-8 {
    grid-area: i;
  }
}

article {
  background: rgba(241, 134, 6, 0.4);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
article .img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
  width: 100%;
}
article:hover .img {
  opacity: 0.2;
  transform: scale(1.1);
}
article .info {
  color: #1a1101;
  font-weight: 600;
  left: 50%;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
  width: 100%;
}
article .info h3,
article .info p {
  color: #1a1101;
  font-weight: 600;
  margin-bottom: 0.5rem;
  opacity: 0;
  text-transform: uppercase;
  transition: opacity 0.3s linear;
}
article:hover .info {
  opacity: 1;
}
article:hover .info p,
article:hover .info h3 {
  opacity: 1;
}

article:hover {
  box-shadow: 4px 4px 0px 0px #4d4c4b;
}

.footer-footer {
  align-items: center;
  background-color: rgba(90, 50, 0, 0.48);
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 32px;
  position: relative;
}
@media only screen and (max-width: 479px) {
  .footer-footer {
    flex-direction: column;
    padding: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.footer-image {
  margin-right: 5px;
  object-fit: cover;
  cursor: pointer;
}
@media only screen and (max-width: 479px) {
  .footer-image {
    margin-bottom: 16px;
  }
}

.footer-icon-group {
  display: flex;
  flex-direction: row;
  height: 20px;
}
@media only screen and (max-width: 479px) {
  .footer-icon-group {
    display: none;
  }
}

.footer-image {
  cursor: pointer;
  margin-right: 5px;
  object-fit: cover;
}
@media only screen and (max-width: 479px) {
  .footer-image {
    margin-bottom: 16px;
  }
}

.footer-logo {
  height: 4rem;
  object-fit: cover;
}

.footer-text {
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 479px) {
  .footer-text {
    margin-bottom: 16px;
  }
}

.home-header--sticky {
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(254, 212, 162, 0.41);
}

.home-header--nav {
  color: black;
}